/************************************** Product page Start **************************************/
.hover-content{
    /* background-color: rgb(220, 220, 220); */
    padding: 3%;
}

.hover-content ul li{
    padding: 3%
}
/************************************** Product page End **************************************/


/************************************** Header Start **************************************/
.login-header{
    color: rgb(255, 255, 255);
    
}

.register-header{
    color: rgb(255, 255, 255);
}
/************************************** Header End **************************************/